<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<H1>Data Science Tools and Ecosystem<H1>

<H3> In this notebook, Data Science Tools and Ecosystem are summarized. <H3>

Some of the popular languages that Data Scientists use are as follows:
1. Python
2. Julia
3. Java
4. SQL
5. R

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

|<H4> Data Science Tools<H4> |
|:--------|
|  Apache Spark   |
|  Julia   |
|  Jupyter Notebook   |

<H3>Below are a few examples of evaluating arithmetic expressions in Python<H3>

$$
E = mc^2
C^2= A^2+ B^2
a = c + b
$$

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

__Objectives:__

- List popular languages for Data Science
- List data scinece libraries
- Show arithmetic expresion examples
- Multiply and add numbers in code

## Author
    Teoman